/* HTML: <div class="loader"></div> */
.customer-details {
  width: 90%;
  margin: auto;
  margin-top: -5px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.image-container img {
  width: 280px;
  border-radius: 25px;
  height: 180px;
}

.loader {
  width: 50px;
  margin: auto;
  margin-top: 220px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}
